users:
  "${AUTHELIA_ADMIN_USERNAME}":
    displayname: "${AUTHELIA_ADMIN_NAME}"
    password: "${AUTHELIA_ADMIN_PASSWORD_HASH}"
    email: "${AUTHELIA_ADMIN_EMAIL}"
    groups:
      - admins
      - dev
